{% extends 'base.html' %}


{% block body %}
{% for m in allproduct %}
<div class="card" style="width: 18rem;height:25rem;">
    <img src="/media/{{m.image}}" class="card-img-top" alt="..." height="200" width="150">
    <div class="card-body">
        <h5 class="card-title">{{m.name}}</h5>
        <h3 class="bloder ">Rs. {{m.price}}</h3>
        <p class="card-text">{{m.details}}</p>
        <a href="{{m.link}}" class="btn btn-primary">BUY NOW</a>
    </div>
</div>

{% endfor %}

{% endblock body %}